{% extends 'main/_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Create House
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-center bg-success">
            <p>{{ message }}</p>
        </div>
    {% endif %}

    {% if error %}
        <div class="text-center bg-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h2>Create a House</h2>
        <div id="locationField">
            <input class="form-control" id="autocomplete"
                   placeholder="Enter an Address"
                   onFocus="geolocate()"
                   type="text"/>
        </div>
        <br>

        <form method="post">
            {% csrf_token %}
            <table id="address">
                <tr>
                    <td class="slimField"><input hidden="true" class="form-control" name="street_number"
                                                 id="street_number" value="" disabled="true"/></td>
                    <td class="wideField" colspan="2"><input hidden="true" class="form-control" name="street_name"
                                                             id="route" value="" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="wideField" colspan="3"><input hidden="true" class="form-control" name="city"
                                                             id="locality" value="" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="slimField"><input hidden="true" class="form-control" name="prov_state"
                                                 id="administrative_area_level_1" value="" disabled="true"/></td>
                    <td class="wideField"><input hidden="true" class="form-control" name="postal_code" id="postal_code"
                                                 value="" disabled="true"/></td>
                </tr>
                <tr>
                    <td class="wideField" colspan="3"><input hidden="true" class="form-control" name="country"
                                                             id="country" value="" disabled="true"/></td>
                </tr>
            </table>
            <div class="text-center">
                <button id="submitbutton" type="submit" class="btn btn-primary">Submit</button>
            </div>

            <script>
                $(document).ready(function () {
                    $('#submitbutton').attr('disabled', true);
                    $('#autocomplete').on('keyup', function () {
                        var textarea_value = $("#autocomplete").val();
                        if (textarea_value != '') {
                            $('#submitbutton').attr('disabled', false);
                        } else {
                            $('#submitbutton').attr('disabled', true);
                        }
                    });
                });
            </script>

        </form>


        <script>
            // This sample uses the Autocomplete widget to help the user select a
            // place, then it retrieves the address components associated with that
            // place, and then it populates the form fields with those details.
            // This sample requires the Places library. Include the libraries=places
            // parameter when you first load the API. For example:
            // <script
            // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

            var placeSearch, autocomplete;

            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
                country: 'long_name',
                postal_code: 'short_name'
            };

            function initAutocomplete() {
                // Create the autocomplete object, restricting the search predictions to
                // geographical location types.
                autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('autocomplete'), {types: ['geocode']});

                // Avoid paying for data that you don't need by restricting the set of
                // place fields that are returned to just the address components.
                autocomplete.setFields(['address_component']);

                // When the user selects an address from the drop-down, populate the
                // address fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
            }

            function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();

                for (var component in componentForm) {
                    document.getElementById(component).value = '';
                    document.getElementById(component).disabled = false;
                }

                // Get each component of the address from the place details,
                // and then fill-in the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (componentForm[addressType]) {
                        var val = place.address_components[i][componentForm[addressType]];
                        document.getElementById(addressType).value = val;
                    }
                }
            }

            // Bias the autocomplete object to the user's geographical location,
            // as supplied by the browser's 'navigator.geolocation' object.
            function geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle(
                            {center: geolocation, radius: position.coords.accuracy});
                        autocomplete.setBounds(circle.getBounds());
                    });
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initAutocomplete"
                async defer></script>
    </div>
{% endblock %}
