{% extends 'main/_base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Settings</h2>
        {% if message %}
            <div class="text-center bg-success">
                <p>{{ message }}</p>
            </div>
        {% endif %}

        {% if error %}
            <div class="text-center bg-danger">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        <form action="{% url 'settings' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" name="address" id="inputAddress" value="{{ user.address }}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" id="city" value="{{ user.city }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="province">Province</label>
                    <select name="province" id="province" class="form-control">
                        {% for province in provinces %}
                            {% if province.key == user.prov_state %}
                                <option selected value={{ province.key }}>{{ province.name }}</option>
                            {% endif %}
                            <option value={{ province.key }}>{{ province.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="postal_code">Postal Code</label>
                    <input type="text" class="form-control" name="postal_code" id="postal_code"
                           value="{{ user.postal_code }}">
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
