{% extends 'main/_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    House Details
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-center bg-success">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <div class="container">
        <h2>House Details - {{ house.full_address }}</h2>
        {% if user.id == house.user.id %}
            <a class="btn btn-primary" href="{% url 'house_edit' house.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'house_delete' house.pk %}">Delete</a>
            <br>
            <br>
        {% endif %}

        <div class="row">
            <div class="col-md-7">
                {% if house.hide_address %}
                    <div style="width: 100%">
                        <iframe width="100%" height="400"
                                src="https://www.google.com/maps/embed/v1/view?zoom=16&center={{ house.lat }}%2C{{ house.lon }}&key={{ GOOGLE_API_KEY }}"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                {% else %}
                    <div style="width: 100%">
                        <iframe width="100%" height="400"
                                src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API_KEY }}&q=place_id:{{ house.place_id }}"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                <h4>Details</h4>
                {% if house.walk_score != -1 %}
                    <div>
                        <!-- Walk Score -->
                        <img class="img-fluid" width=75
                             src="https://pp.walk.sc/badge/walk/score/{{ house.walk_score }}.svg">
                        <small>{{ house.walk_score_description }}</small>

                        <!-- Bike Score -->
                        {% if house.bike_score != -1 %}
                            <br>
                            <img class="img-fluid" width=75
                                 src="https://pp.walk.sc/badge/bike/score/{{ house.bike_score }}.svg">
                            <small>{{ house.bike_score_description }}</small>
                        {% endif %}
                        <!-- Transit Score -->
                        {% if house.transit_score != -1 %}
                            <br>
                            <img class="img-fluid" width=75
                                 src="https://pp.walk.sc/badge/transit/score/{{ house.transit_score }}.svg">
                            {% if house.transit_score_summary %}
                                <small>{{ house.transit_score_description }} - {{ house.transit_score_summary }}</small>
                            {% else %}
                                <small>{{ house.transit_score_description }}</small>
                            {% endif %}

                        {% endif %}
                    </div>
                {% endif %}
                <br>
                {% if user.id == house.user.id %}
                    <h4>Members

                        <small>
        <span class="btn-group">
            <a href="{% url 'house_invite' house.pk %}" class="btn btn-primary"><span class="oi oi-plus"></span></a>
        </span>
                        </small></h4>
                    <table class="table table-hover table-sm" style="width:100%">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            {% if user.id == house.user.id %}
                                <th>Actions</th>
                                <th>Status</th>
                            {% endif %}
                        </tr>
                        {% for member in house.members.all %}
                            <tr>
                                <td>{{ member.first_name }} {{ member.last_name }}</td>
                                <td>{{ member.email }}</td>
                                {% if user.id == house.user.id %}
                                    <td><a href="{% url 'house_member_remove' house.pk member.id %}">Remove</a></td>
                                    <td class="text-success">Member</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% for invite in house.invitation_set.all %}
                        <tr>
                                <td>N/A</td>
                                <td>{{ invite.target }}</td>
                                {% if user.id == house.user.id %}
                                    <td><a href="{% url 'house_invite_remove' house.pk invite.id %}">Remove</a></td>
                                    <td class="text-warning">Pending</td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                    </table>
                {% endif %}
            </div>

        </div>
        <hr>

    {% if is_member %}
        <h4>Bills
            {% if user.id == house.user.id %}
                <small>
        <span class="btn-group">
            <a href="#" class="btn btn-primary"><span class="oi oi-plus"></span></a>
        </span>
                </small>
            {% endif %}

        </h4>
    <hr>
    {% endif %}



        <h4>Rooms
            {% if user.id == house.user.id %}
                <small>
        <span class="btn-group">
            <a href="{% url 'house_add_room' house.pk %}" class="btn btn-primary"><span class="oi oi-plus"></span></a>
        </span>
                </small>
            {% endif %}

        </h4>
        <div class="row">
            {% if rooms %}
                {% for room in rooms %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% if room.roomimage_set.first.is_approved %}
                                <img class="card-img-top" src="{{ room.roomimage_set.first.image.url }}">
                            {% endif %}
                            <div class="card-body">
                                <a href="{% url 'room_detail' room.id %}"><h5 class="card-title">{{ room.name }}</h5>
                                </a>
                                <p class="card-text">${{ room.price }}</p>
                                {% if user.id == room.user.id %}
                                    <a class="btn btn-primary" href="{% url 'room_edit' room.pk %}"><span
                                            class="oi oi-wrench"></span></a>
                                    <a class="btn btn-danger" href="{% url 'room_delete' room.pk %}"><span
                                            class="oi oi-trash"></span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
