{% extends 'main/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    House Delete
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-center bg-success">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <div class="container">
        <h2>Are you sure you want to delete this house?</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="card">
                <div class="card-header">
                    DANGER ZONE
                </div>
                <div class="card-body">
                    <h5 class="card-title text-danger">{{ house.full_address }}</h5>
                    <p class="card-text">This will delete everything related to the house including bills, rooms, contracts, and tenants.</p>
                    <button class="btn btn-danger" type='submit'>Delete</button>
                </div>
            </div>


        </form>
    </div>

{% endblock %}
