{% extends 'main/_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    My Houses
{% endblock %}

{% block content %}
    <div class="container">
        <h2>My Houses</h2>


    {% if houses %}
        <div class="row">
        {% for house in houses %}
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <a href="{% url 'house_detail' house.pk %}"><h5 class="card-title">{{house.full_address}}</h5></a>
                        <p class="card-text">
                            <div style="width: 100%"><iframe width="100%" height="300" src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_API_KEY}}&q=place_id:{{house.place_id}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        </p>
                        <a class="btn btn-primary" href="{% url 'house_add_room' house.pk %}"><span class="oi oi-plus"></span></a>
                        <a class="btn btn-primary" href="{% url 'house_edit' house.pk %}"><span class="oi oi-wrench"></span></a>
                        <a class="btn btn-danger" href="{% url 'house_delete' house.pk %}"><span class="oi oi-trash"></span></a>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div>
        {% else %}
        <p>Looks like you haven't told us about any houses or you aren't a tenant in any houses</p>
    {% endif %}
    </div>

{% endblock %}
