{% extends 'main/_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    House Details
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-center bg-success">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    <div class="container">
        <h2>House Details</h2>
        {{ house.full_address }}

    {% if rooms %}
        <div class="row">
        {% for room in rooms %}
            <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ room.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{room.name}}</h5>
                        <p class="card-text">{{ room.price }}</p>
                        <a href="{% url 'room_detail' room.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
                </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>

{% endblock %}
