{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    {{ house.full_address }} | Add Room
{% endblock %}

{% block content %}
    {% if error %}
        <div class="text-center bg-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h2>Add a room to {{ house.full_address }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2">
                    <label>Name:</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="name" placeholder="Master Suite" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <label>Description:</label>
                </div>
                <div class="col-md-10">
                    <textarea class="form-control" rows="10" placeholder="Looking for a fun person to move in to my wonderful house" name="description" required></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <label>Image(s):</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control-file" type="file" name="images" accept="image/png, image/jpeg" multiple/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <label>Price: $</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control" type="number" step=0.01 min="0.0" name="price" placeholder="800" required>
                </div>
            </div>
            <button class="btn btn-sm btn-primary" type='submit'>Post</button>
        </form>
    </div>
{% endblock %}
