{% extends 'main/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Confirm Email
{% endblock %}

{% block content %}
    {% if error %}
        <div class="bg-danger text-center">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <h2>Confirm E-Mail Address</h2>
        </div>
        {% if confirmation %}
            <p>Please confirm that
                <a href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a> is an
                e-mail address for user {{ confirmation.email_address.user }}.</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>

        {% else %}

            {% url 'account_email' as email_url %}

            <p>This e-mail confirmation link expired or is invalid. Please
                <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.</p>

        {% endif %}
    </div>
{% endblock %}
