{% extends 'main/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    {% if error %}
        <div class="bg-danger text-center">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <h2>Reset Password</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <small>Forgotten your password? Enter your e-mail address, and we'll send you an e-mail allowing you to reset it.</small>
            {{ form | crispy }}
            <div class="row">
                <button type="submit" class="btn btn-primary">Reset my password</button>
            </div>
        </form>
        <br>
        <p class="text-center">Please contact us if you have any trouble resetting your password.</p>
    </div>
{% endblock %}
