{% extends 'main/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    <div class="container">
        {% if message %}
            <div class="text-center bg-success">
                <p>{{ message }}</p>
            </div>
        {% endif %}
        {% if error %}
            <div class="text-center bg-danger">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        <div class="row">
            <h2>Settings</h2>
        </div>

        <a href="{% url 'account_email' %}">
            <little>Manage Emails</little>
        </a> - <a href="{% url 'account_change_password' %}">
        <little>Change Password</little>
    </a>
        <br>
        <div class="card">
            <div class="card-header">
                Personal Information
            </div>
            <div class="card-body">
                <form action="{% url 'settings' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <select name="gender" id="gender" class="form-control">
                                {% if user.gender == 'm' %}
                                    <option selected value='m'>Male</option>
                                    <option value='f'>Female</option>
                                    <option value='o'>Other</option>
                                {% elif user.gender == 'f' %}
                                    <option value='m'>Male</option>
                                    <option selected value='f'>Female</option>
                                    <option value='o'>Other</option>
                                {% elif user.gender == 'o' %}
                                    <option value='m'>Male</option>
                                    <option value='f'>Female</option>
                                    <option selected value='o'>Other</option>
                                {% else %}
                                    <option value='m'>Male</option>
                                    <option value='f'>Female</option>
                                    <option value='o'>Other</option>
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="age">Age</label>
                            <input class="form-control" type="number" step=1 min="0" name="age" value="{{ user.age }}">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" name="city" id="city" value="{{ user.city }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="province">Province</label>
                            <select name="province" id="province" class="form-control">
                                {% for province in provinces %}
                                    {% if province.key == user.prov_state %}
                                        <option selected value={{ province.key }}>{{ province.name }}</option>
                                    {% endif %}
                                    <option value={{ province.key }}>{{ province.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Preferences
            </div>
            <div class="card-body">
                <form action="{% url 'settings_preferences' %}" method="POST">
                    {% csrf_token %}
                    {{ preferences_form | crispy }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header">
                Verification
                <small><a href="#" data-toggle="tooltip" title="Smart user verification for landlord peace of mind">What is this?</a></small>
                <script>
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    });
                </script>
            </div>
            <div class="card-body">
                <div class="row">
                        <div class="col-md-3">
                            <label>Phone Number Status</label>
                            <br>
                            {% if user.phone_number_verified %}
                                <span class="badge badge-success">Verified</span>
                            {% else %}
                                <span class="badge badge-danger">Unverified</span>
                            {% endif %}
                        </div>
                    </div>
            <hr>
                <form action="{% url 'settings_verification' %}" method="POST">
                    {% csrf_token %}
                    {{ verification_form | crispy }}
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
