
{% if inquiry.user.first_name and inquiry.user.last_name %}
    <p>{{ inquiry.user.first_name }} {{ inquiry.user.last_name }} is interested in {{ inquiry.room.name }} at {{ inquiry.room.house.full_address }}</p>
{% else %}
    <p>Someone is interested in {{ inquiry.room.name }} at {{ inquiry.room.house.full_address }}</p>
{% endif %}
<p><strong>Message:</strong> {{ inquiry.message }}</p>
<p><strong>Requested Move In Date: </strong> {{ inquiry.move_in_date }}</p>
<p>Get back to them at: {{ inquiry.user.email }}</p>

{% extends 'emails/_base.html' %}
{% load staticfiles %}

{% block title %}
    RoomScout | Someone is interested in your room!
{% endblock %}

{% block content %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hey there,</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 5px;">A new {{ bill.get_type_display }} bill has been added to {{ bill.set.house.full_address }}.</p>
{% endblock %}