
{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}
Create a Room
{% endblock %}

{% block content %}
{% if message %}
<div class="text-center bg-success">
  <p>{{message}}</p>
</div>
{% endif %}
<div class="container">
  <br>
  <h2>Create a Room</h2>
  <form method="post">
    {%csrf_token%}
    {% load widget_tweaks %}
    {% for field in form %}
      <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
      </div>
    {% endfor %}
    <button class="btn btn-primary" type='submit'>Create</button>
  </form>
</div>

{% endblock %}
