
{% extends "main/base.html" %}
{% load staticfiles %}

{% block title %}
Create a Room
{% endblock %}

{% block content %}
<div class="container">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Post a Room</h1>
</div>
  {% if houses %}

  {% else %}
    <p>Looks like you haven't told us about any houses you have</p>
    <a href="{% url 'house_create'%}" class="btn btn-primary">Create House Now</a>
  {% endif %}
</div>
{% endblock %}
