{% extends 'main/_base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    Find a Room
{% endblock %}

{% block content %}
    {% if error %}
        <div class="text-center bg-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h2>Find a Room</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-11">
                    <input class="form-control" type="text" name="search" id="search" {% if search_term == '' %}placeholder="Search"{% else %}value="{{ search_term }}"{% endif %}>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type='submit'>Search</button>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-md-12">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" href="#filtersCard">
                                        Filters
                                    </a>
                                </h6>
                            </div>

                            <div id="filtersCard" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="container">
                                        {% crispy filter_form %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br>
        {% if rooms %}
            <div class="row">
                {% for room in rooms %}
                    <div class="col-md-12">
                        <div class="card mb-2 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'room_detail' room.pk %}"><h4 class="card-text">{{ room.name }}</h4></a>
                                        <small>{{ room.house.full_address }}</small>
                                        <br>
                                        <strong>Price:</strong> ${{ room.price }}
                                        <br>
                                        {% if room.description != '' %}
                                            <strong>Description:</strong>
                                            <div class="container">
                                                {{ room.description | linebreaks }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-6">
                                        <h6>Posted: {{ room.get_time_difference_display }}</h6>
                                        <img class="img-fluid" width="300" src="{{ room.get_first_image }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        {% else %}
            <p>Looks like there are no available rooms that match your search!</p>
            <p>Do you have a room you want to post?
                <a href="{% url 'room_create' %}">Tell us about it</a></p>
        {% endif %}

    </div>
{% endblock %}
