{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    Find a Room
{% endblock %}

{% block content %}
    {% if error %}
        <div class="text-center bg-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h2>Find a Room</h2>
        {% if rooms %}
            <form>
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input class="form-control" type="text" name="search" id="search" placeholder="Search">
                    </div>
                </div>
            </form>

            <div id="search_results">
                <script>
                    var delayTimer;
                    $('#search').keyup(function () {
                        clearTimeout(delayTimer);
                        $('#search_results').text('Loading...');
                        delayTimer = setTimeout(function () {
                            var text = $('#search').val();
                            $.ajax({
                                url: '/room/search',
                                data: {
                                    'search_term': text
                                },
                                dataType: 'json',
                                success: function (data) {
                                    var results = '';
                                    $('#search_results').text('')
                                    results += '<div class="row">';
                                    data['items'].forEach(function (room) {
                                        results += '<div class="col-md-12"><div class="card mb-2 shadow-sm">';
                                        results += '<a href="/room/' + room['id'] + '/detail/"><div class="card-body"><h4 class="card-text">' + room['name'] + '</h4></a>';
                                        results += '<small>' + room['address'] + '</small>';
                                        results += '<br>';
                                        results += 'Price: $' + room['price'];
                                        results += '<br>';
                                        results += '<img class="img-fluid" width="300" src="' + room['image'] +'" alt="">';
                                        results += '</div></div></div>';
                                    });
                                    results += '</div>';
                                    $('#search_results').append(results);
                                }
                            });
                        }, 1);
                    });
                </script>
                <div class="row">
                    {% for room in rooms %}
                        {% if room.is_available %}
                            <div class="col-md-12">
                                <div class="card mb-2 shadow-sm">
                                    <div class="card-body">
                                        <a href="{% url 'room_detail' room.pk %}"><h4 class="card-text">{{ room.name }}</h4></a>
                                        <small>{{ room.house.full_address }}</small>
                                        <br>
                                        Price: $ {{ room.price }}
                                        <br>
                                        <img class="img-fluid" width="300" src="{{ room.roomimage_set.first.image.url }}" alt="">
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Looks like there are no available rooms at the moment</p>
            <p>Do you have a room you want to post?
                <a href="{% url 'room_create' %}">Tell us about it</a></p>
        {% endif %}

    </div>
{% endblock %}
