{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    Room | {{ room.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>{{ room.name }} At <a
                    href="{% url 'house_detail' room.house.pk %}">{{ room.house.full_address }}</a></h4>
        </div>
        {% if user.id == room.user.id %}
            <a class="btn btn-sm btn-primary" href="{% url 'room_edit' room.pk %}">Edit</a>
            <a class="btn btn-sm btn-danger" href="{% url 'room_delete' room.pk %}">Delete</a>
            <br>
        {% endif %}
        <br>
        <div class="row">
            {% if room.roomimage_set.count > 0 %}
                <div class="col-md-8">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for img in room.roomimage_set.all %}
                                {% if forloop.first %}
                                    <li data-target="#myCarousel" class="active" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% else %}
                                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner">
                            {% for img in room.roomimage_set.all %}
                                <div
                                        {% if forloop.first %}
                                            class="carousel-item active">
                                        {% else %}
                                            class="carousel-item">
                                        {% endif %}
                                <img class="rounded mx-auto d-block img-fluid" height="500" src="{{ img.image.url }}"/>
                                </div>
                            {% endfor %}

                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span style="color:black" class="oi oi-chevron-left"></span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span style="color:black" class="oi oi-chevron-right"></span>
                        </a>
                    </div>
                </div>
            {% else %}
                {% if room.get_first_image %}
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h4>House Image</h4>
                            </div>
                            <div class="card-body">
                                <img class="rounded mx-auto d-block img-fluid" height="500" src="{{ room.get_first_image }}"/>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Room Details</h4>
                    </div>
                    <div class="card-body">
                        <p>Posted: {{ room.get_time_difference_display }}</p>
                        {% if room.is_available %}
                            <p>Price : ${{ room.price }}</p>
                            <p>Room is available</p>
                            <a class="btn btn-primary" href="{% url 'room_inquire' room.pk %}">Contact</a>
                        {% else %}
                            <p>Room is not available</p>
                        {% endif %}
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h4>House Summary</h4>
                        <a href="{{ room.house.get_absolute_url }}"><small>Details</small></a>
                    </div>
                    <div class="card-body">
                        {% if room.house.walk_score != -1 %}
                            <div>
                                <!-- Walk Score -->
                                <a href="https://www.redfin.com/how-walk-score-works"><img class="img-fluid" width=75 src="https://pp.walk.sc/badge/walk/score/{{ room.house.walk_score }}.svg"
                                                                                           alt="Walk Score"></a>
                                <small>{{ room.house.walk_score_description }}</small>

                                <!-- Bike Score -->
                                {% if room.house.bike_score != -1 %}
                                    <br>
                                    <a href="https://www.redfin.com/how-walk-score-works"><img class="img-fluid" width=75 src="https://pp.walk.sc/badge/bike/score/{{ room.house.bike_score }}.svg"
                                                                                               alt="Bike Score"></a>
                                    <small>{{ room.house.bike_score_description }}</small>
                                {% endif %}
                                <!-- Transit Score -->
                                {% if room.house.transit_score != -1 %}
                                    <br>
                                    <a href="https://www.redfin.com/how-walk-score-works"><img class="img-fluid" width=75src="https://pp.walk.sc/badge/transit/score/{{ room.house.transit_score }}.svg"
                                                                                               alt="Transit Score"></a>
                                    {% if room.house.transit_score_summary %}
                                        <small>{{ room.house.transit_score_description }} - {{ room.house.transit_score_summary }}</small>
                                    {% else %}
                                        <small>{{ room.house.transit_score_description }}</small>
                                    {% endif %}

                                {% endif %}
                            </div>
                        {% else %}
                            <p>There is no additional information at this time!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if room.description != '' %}
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Description</h4>
                        </div>
                        <div class="card-body">
                            {{ room.description | linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
