{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    Find a Room
{% endblock %}

{% block content %}
    {% if error %}
        <div class="text-center bg-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="container">
        <h2>Find a Room</h2>
        {% if rooms %}
            <form action="{% url 'room_search_results' %}" method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="col-md-11">
                        <input class="form-control" type="text" name="search" id="search" placeholder="Search">
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" type='submit'>Search</button>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-12">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#filtersCard">
                                            Filters
                                        </a>
                                    </h6>
                                </div>

                                <div id="filtersCard" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <legend class="col-form-label col-sm-2 pt-0">Pets</legend>
                                            <div class="col-sm-3">
                                                <div class="form-check">
                                                    <input id="dogcheck" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="dogcheck">Dogs</label>
                                                </div>
                                                <div class="form-check">
                                                    <input id="catcheck" class="form-check-input" type="checkbox">
                                                    <label class="form-check-label" for="catcheck">Cats</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
                <div class="row">
                    {% for room in rooms %}
                        <div class="col-md-12">
                            <div class="card mb-2 shadow-sm">
                                <div class="card-body">
                                    <a href="{% url 'room_detail' room.pk %}"><h4 class="card-text">{{ room.name }}</h4></a>
                                    <small>{{ room.house.full_address }}</small>
                                    <br>
                                    Price: $ {{ room.price }}
                                    <br>
                                    <img class="img-fluid" width="300" src="{{ room.roomimage_set.first.image.url }}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>Looks like there are no available rooms at the moment</p>
            <p>Do you have a room you want to post?
                <a href="{% url 'room_create' %}">Tell us about it</a></p>
        {% endif %}

    </div>
{% endblock %}
