{% load staticfiles %}
<hr>
<div class="container text-center text-muted">
    <p>Looking for a place to rent or someone to rent your place?
        <br>
        <a href="{% url 'about' %}">About<a/> - <a href="{% url 'contactus' %}">Contact<a/> - <a
                href="{% url 'blog_home' %}">Blog<a/> - <a
                href="{% url 'licenses' %}">Licenses<a/> - <a href="{% url 'privacypolicy' %}">Privacy<a/> - <a
                href="{% url 'termsandconditons' %}">Terms and Conditions<a/>
    </p>
</div>
