<!doctype html>
<html lang="en">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoomScout - {% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Aaron Spindler">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.css'%}" rel="stylesheet">

</head>

<body>
  <header>
    {% include "main/header.html" %}
  </header>
  
    <main role="main">
      {% if messages %}
      <div class="text-center">
      <ul style="list-style: none" class="bg-success messages">
          {% for message in messages %}
          <li>
          {% if message.tags == 'success'%}
            {{ message }}
          {% endif %}
          </li>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
      {%  block content %}

      {% endblock %}
    </main>

  <footer>
    {% include "main/footer.html" %}
  </footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
