{% load staticfiles %}
<hr>
<div class="container text-center text-muted">
    Looking for a place to rent or someone to rent your place?
    <br>
    <a href="{% url 'about' %}">About</a> -
        <a href="{% url 'contactus' %}">Contact Us</a> -
            <a href="{% url 'blog_home' %}">Blog</a> -
                <a href="{% url 'changelog' %}">Changelog</a> -
                    <a href="{% url 'privacypolicy' %}">Privacy</a> -
                        <a href="{% url 'termsofuse' %}">Terms of Use</a>
                        <br>
                        Proudly made in
                        <br>
                        <img src="{% static 'flags/ca.gif' %}"/>
</div>
<hr>
