{% load static %}
<!-- Footer -->
<footer class="page-footer font-small text-white indigo mt-4">
    <div class="container py-5 ">
        <div class="row">
            <div class="col-12 col-md">
                <img class="img-fluid" src="{% static 'logos/logo.PNG' %}" width="45" height="45">
                <small class="d-block mb-3">&copy; {% now "Y" %}</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled">
                    <li><a class=" " href="{% url 'billfeatures' %}">Bill Features</a></li>
                    <li><a class=" " href="{% url 'verificationfeatures' %}">Verification Features</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a class=" " href="{% url 'supportus' %}">Support Us</a></li>
                    <li><a class=" " href="{% url 'about' %}">About</a></li>
                    <li><a class=" " href="{% url 'blog_home' %}">Blog</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Support</h5>
                <ul class="list-unstyled">
                    <li><a class=" " href="{% url 'contactus' %}">Contact Us</a></li>
                    <li><a class=" " href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                    <li><a class=" " href="{% url 'termsofuse' %}">Terms of Use</a></li>
                    <li><a class=" " href="https://stats.uptimerobot.com/VJPG3SxpY2">Uptime</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a class="" href="https://www.linkedin.com/company/roomscout-ca/"><i class="fab fa-linkedin fa-lg"></i></a></li>
                    <li><a class=" " href="https://twitter.com/room_scout/"><i class="fab fa-twitter-square fa-lg"></i></a></li>
                    <li><a class=" " href="https://www.instagram.com/room.scout/"><i class="fab fa-instagram fa-lg"></i></a></li>
                    <li><a class=" " href="https://www.github.com/xNovax/Roomscout"><i class="fab fa-github-square fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->
