{% load staticfiles %}
<hr>
<div class="container text-center text-muted">
    Looking for a place to rent or someone to rent your place?
    <br>
    <a href="{% url 'about' %}">About</a> -
    <a href="{% url 'contactus' %}">Contact Us</a> -
    <a href="{% url 'blog_home' %}">Blog</a> -
    <a href="{% url 'privacypolicy' %}">Privacy</a> -
    <a href="{% url 'termsofuse' %}">Terms of Use</a>
    <br>
    <a href="https://www.linkedin.com/company/roomscout-ca/"><img width="20" src="{% static 'logos/linkedin.png' %}"></a>
    <a href="https://twitter.com/room_scout/"><img width="20" src="{% static 'logos/twitter.png' %}"></a>
    <a href="https://www.instagram.com/room.scout/"><img width="20" src="{% static 'logos/instagram.png' %}"></a>
    <br>
    Proudly made in
    <br>
    <img src="{% static 'flags/ca.gif' %}"/>
</div>
<hr>
