{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white  border-bottom shadow-sm">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logos/logo.PNG' %}" height=35 width=35> RoomScout</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link p-2 text-dark" href="{% url 'room_create' %}">Post Room</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2 text-dark" href="{% url 'room_list' %}">Find Room</a>
            </li>

            {% if user.is_superuser %}
            {% endif %}

            {% if user.is_authenticated %}

            {% endif %}
        </ul>
        {% if user.is_authenticated == False %}
            <a class="btn btn-outline-primary mx-2" href="{% url 'account_login' %}">Log In <span class="oi oi-account-login"></span></a>
            <a class="btn btn-outline-primary mx-2" href="{% url 'account_signup' %}">Sign up</a>
        {% else %}
            <a class="p-2 text-dark nav-item nav-link" href="{% url 'main_dashboard' %}">Dashboard <span class="oi oi-home"></span></a>
            <a class="p-2 text-dark nav-item nav-link" href="{% url 'settings' %}">Settings <span class="oi oi-cog"></span></a>
            <small>Logged in as : {{ user }} {% if user.is_premium_member %}<a href="#" class="badge badge-warning">Premium</a>{% endif %} <a href="{% url 'account_logout' %}"> Logout</a></small>
        {% endif %}
    </div>
</nav>
