{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
    <div class="container">
        <h2>About Us</h2>
        <p>RoomScout.ca was started as a little side project to help get rid of a problem that I was facing. The problem I was facing was that I was managing bills for a house that I had with a spreadsheet, and it became tedious to add bills and then send a spreadsheet to my tenants every month. I also had an issue of getting a new tenant when my current one had left without notice.</p>
        <p>I decided that I can start a project that would help solve my problems and also teach me a little about web development.</p>
        <p>If there are any bugs or issues that you face, feel free to email me personally at <a href="mailto:aaron@xnovax.net">Aaron@xNovax.net</a>, I am happy to help and hope that this project can grow to help others that are looking for an easier way to manage roommates.</p>
    </div>

{% endblock %}
