{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    {% include "main/_header.html" %}
{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img">
                    <rect width="100%" height="100%" fill="#7472DF"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Find the perfect roommate!</h1>
                        <p>Roomscout helps you find the perfect roommate</p>
                        {% if user.is_authenticated %}
                            <p><a class="btn btn-lg btn-primary" href="{% url 'room_create' %}" role="button">Post your
                                room now!</a></p>
                        {% else %}
                            <p><a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Sign up
                                today!</a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img">
                    <rect width="100%" height="100%" fill="#5EDDAA"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Find The Perfect Room</h1>
                        <p>Find the perfect place to live and the best roommates to live with!</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'room_list' %}" role="button">Search Now!</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img">
                    <rect width="100%" height="100%" fill="#65A5DA"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Manage Bills</h1>
                        <p>Manage household utility bills, splitting of bills, and gain insight into your future bills</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'billfeatures' %}" role="button">See it in action!</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                     role="img">
                    <rect width="100%" height="100%" fill="#7472DF"></rect>
                </svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Verify and Vet Prospective Roommates</h1>
                        <p>Using advanced technology RoomScout allows you to vet prospective roommates based on more than just their credit score</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'verificationfeatures' %}" role="button">Learn More!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- START THE FEATURETTES -->
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Looking for someone to move in?<span class="text-muted"> Post your room now</span></h2>
                <p class="lead">If you are looking for a roommate to live in your house or someone to split an apartment
                    with. Look no further, post your available room on RoomScout</p>
                <a class="btn btn-primary" href="{% url 'room_create' %}">Post Now</a>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="{% static 'stock_photos/tenant_2.jpg' %}" width=400/>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Looking for a place to live?<span class="text-muted"> Find the perfect room!</span>
                </h2>
                <p class="lead">Are you looking for the perfect place to live but are not ready to live alone? Find the
                    perfect place by search rooms on RoomScout</p>
                <a class="btn btn-primary" href="{% url 'room_list' %}">Start your search</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="{% static 'stock_photos/bedroom_2.jpg' %}" width=400/></div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, <span class="text-muted"> take the headache out of managing shared expenses</span>
                </h2>
                <p class="lead">Do you split utilities with the other people living in your house / apartment? If so it
                    can be a huge burden to manage expenses and make sure you get paid. RoomScout relieves that headache
                    by splitting and managing it all for you.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="{% static 'stock_photos/finances_1.jpg' %}" width=400/></div>
        </div>
        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
{% endblock %}
