{% extends 'main/_base.html' %}
{% load staticfiles %}

{% block title %}
    Report a Bug
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Report a Bug</h2>
        <form method="POST">
            {% csrf_token %}
            {{ captcha }}
            <input class="form-control" type="email" name="sender_email" placeholder="Your email" required>
            <br>
            <input class="form-control" type="text" name="subject" placeholder="Subject" required>
            <br>
            <textarea class="form-control" rows="10" placeholder="Message: Maybe you want to talk to us about the weather or some bug you have ran into while using Roomscout.ca?" name="message" required></textarea>
            <br>
            <button class="btn btn-primary" type='submit'>Send</button>
        </form>
    </div>
{% endblock %}
