{% extends 'main/_base.html' %}
{% load static %}

{% block title %}
    Support Us
{% endblock %}

{% block content %}

<div class="row container-fluid">

    <div class="col-lg-2"></div>

    <div class="col-lg-7">
        <div class="container">
            <h2 class="h2">Support Us</h2>
            <hr>
            <p>Roomscout.ca is a project that was started to help students just like myself with managing expenses with roommates while keeping relationships strong.
                    Roomscout has always been free, and I would love to keep it that way. What we ask for in return is that some people who can afford it pay what they think is
                    fair for this service.</p>
                <p>We have tried to develop Roomscout.ca with a very tight budget and bootstrapping the company, however there are some things that we just can't get around.</p>
                <hr>
                <div>
                    <h3 class="h3">Monthly Cost Breakdown</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Expense</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Google Domains</td>
                            <td>$1.60</td>
                        </tr>
                        <tr>
                            <td>Web Server</td>
                            <td>$25.00</td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>$15.00</td>
                        </tr>
                        <tr>
                            <td>Email Usage</td>
                            <td>$5 - $10</td>
                        </tr>
                        <tr>
                            <td>Various APIs</td>
                            <td>$15 - $20</td>
                        </tr>
                        <tr>
                            <td><b>Total</b></td>
                            <td><b>$66.60 Per Month</b></td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="text-center">
                    <h3 class="h3">Donate</h3>
                    <p>If you would like to contribute to the project, please contribute using the sponsor panel on Github</p>
                    <a href="https://github.com/sponsors/xNovax" class="btn btn-primary btn-lg">Contribute</a>
                    {% comment %}
                    <div class="row">
                        <div class="col-md-4">
                            <h2>$1 - Your water bottle</h2>
                            <form action="{% url 'payment_donation' 1 %}" method="post">
                                {% csrf_token %}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Roomscout Donation - $1"
                                        data-amount="100"
                                        data-locale="auto"
                                        data-currency="cad">
                                </script>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <h2>$5 - Your daily coffee</h2>
                            <form action="{% url 'payment_donation' 5 %}" method="post">
                                {% csrf_token %}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Roomscout Donation - $5"
                                        data-amount="500"
                                        data-locale="auto"
                                        data-currency="cad">
                                </script>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <h2>$10 - Your daily lunch</h2>
                            <form action="{% url 'payment_donation' 10 %}" method="post">
                                {% csrf_token %}
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="{{ key }}"
                                        data-description="Roomscout Donation - $10"
                                        data-amount="1000"
                                        data-locale="auto"
                                        data-currency="cad">
                                </script>
                            </form>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
        </div>
    </div>

    <div class="col-lg-3"></div>
</div>

{% endblock %}
