  /* Navigation*/
  .navbar {
    background-color: transparent;
  }
  .scrolling-navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    background-color: #667490;
  }
  footer.page-footer {
    background-color: #667490;
  }
  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #667490;
    }
  }

  /* Necessary for full page carousel*/
  html,
  body,
  .view {
    height: 100%;
  }

  /* Carousel*/
  .carousel,
  .carousel-item,
  .carousel-item.active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-item:nth-child(1) {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(2) {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/30.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .carousel-item:nth-child(3) {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(10).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  main {
    margin-top: 4rem;
    min-height: 70vh;
}

.messages {
    margin: 0;
    height: 2rem;
}
.container {
    padding-top: 1rem;
}