{% extends "management/_base.html" %}
{% load staticfiles %}

{% block title %}
    Home
{% endblock %}

{% block pageheader %}
    Management Home
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="text-center">
            <ul style="list-style: none" class="bg-success messages">
                {% for message in messages %}
                    <li>
                        {% if message.tags == 'success' %}
                            {{ message }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
